body {
    background: rgb(24, 24, 24);
    color: #fff;
    font-family: 'Gentium Book Plus', serif;
}

#map {
    width: 800px;
    height: 500px;
    text-align: left;
}

a:link {
    color: lightcoral;
}

a:visited {
    color: lightgreen;
}
