body {
    background: rgb(24, 24, 24);
    color: #fff;
    font-family: 'Gentium Book Plus', serif;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

#map {
    width: 800px;
    height: 500px;
    text-align: left;
}

a:link {
    color: lightcoral;
}

a:visited {
    color: lightgreen;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

h2,h3 {
    margin-top: 5px;
    margin-left: 20px;
}

h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after
{
    content:' ';
    display:block;
    border:1px solid rgb(104, 104, 104);
    margin-bottom: 10px;
}

.footer {
    margin-top:30px;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 90%;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.navbar-container {
    margin: 50px;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #000;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.navbar a {
    text-decoration: none;
    color: #ccc;
    padding: 0 15px;
}

.links {
    padding: 16px;
}

.logo {
    padding: 8px;
}
